.Register{
    background-color: #F7E7D0;
    display: flex;
    flex-flow: column wrap;
    margin: 1vmin -2vmax 0 -2vmax;
    padding-left: 4vmax;
    padding-right: 3vmax;
    min-height: 100vmin;
    max-height: auto;
}

.userRole{
    font-family:'Spartan', sans-serif;
    background-color:#F2E088;
}