.userRole{
    font-family:'Spartan', sans-serif;
    background-color:#F2E088;
}

.formRegister{
    width: 40%;
    form {
        height: fit-content;
        background: rgba(61, 68, 244, 0.27);
        h1{
            font-size: 3.8vh !important;
        }
        label{
            font-size: 3.2vh !important;
        }
        input{
            font-size: 2.5vh !important;
        }    
        select{
            font-size: 2vh;
            margin: 2vw;
            padding: 1vmin;
        } 
    }
}